.DS_Store
api-creds
client_id.json
crowcam-override-config
crowcam-tokens
crowcam-sunrise
crowcam-sunset
crowcam-camstart
crowcam-videodata
crowcam-realtimestamps
crowcam-realtimestamps.bak
youtube-dl
youtube-dl.exe
wgetcookies.txt
wget-log*
CrowCamTemp*
*.temp
*.stackdump
